.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
}

.content {
  margin: auto;
  padding: 60px 0 0 0;
  text-align: center;
}

.live {
  color: #fff;
  border: 1px solid #512da8;
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 14px;
}

.actionsWrapper {
  display: flex;
  justify-content: center;
  list-style: none;
}

.actionsWrapper li {
  margin: 0 40px 0 0;
}

.walletConnect {
  display: flex;
  justify-content: center;
}

.claimWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.claimWrapper input {
  width: 20%;
  height: 50px;
  margin: 0 20px 0 0;
  border: 10px solid #512da8;
  border-radius: 8px;
  outline: none !important;
  box-shadow: none !important;
}

.mintButton {
  background-color: #512da8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
  max-width: 600px;
}

.lightPurple {
  color: #e011a7;
}
